.home-hero {
  width: 100%;
  height: 358px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/home-hero.jpg);
  background-position: center 20%;
  background-repeat: no-repeat;
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-family: "prox-bold";
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.67);
  }
  p {
    font-size: 22px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.67);
  }
}

.home-join {
  background-color: $primary;
  color: $white;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    font-size: 38px;
    font-family: "prox-bold";
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
    color: $primary;
    background-color: $white;
    padding: 8px 17px;
    border-radius: 40px;
    border: 3px solid $white;
    transition: ease 0.2s;
    font-family: "prox-bold";
    font-size: 24px;
    i {
      margin-right: 10px;
    }
    &:hover {
      color: $white;
      background-color: $primary;
      transition: ease 0.2s;
    }
  }
}

.home-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
  a {
    text-decoration: none;
    color: $white;
    background-color: $primary;
    padding: 8px 17px;
    border-radius: 40px;
    border: 3px solid $primary;
    transition: ease 0.2s;
    font-family: "prox-bold";
    i {
      margin-right: 10px;
    }
    &:hover {
      color: $primary;
      background-color: $body-background-color;
      transition: ease 0.2s;
    }
  }
}
.home-content {
  margin-top: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 40px;
}

.home-card {
  background-color: $footer-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 440px;
  width: 1200px;
  border-radius: 50px;
  padding: 0 60px;
  border: 6px solid $footer-background-color;
  transition: ease 0.2s;

  &:hover {
    border: 6px solid $primary;
    transition: ease 0.2s;
  }
  p {
    font-size: 22px;
  }
}

.home-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 50px;
  margin-bottom: 30px;
  h2 {
    color: $primary;
    font-size: 34px;
    font-family: "prox-bold";
    margin-top: 12px;
  }
  i {
    color: $primary;
    font-size: 34px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 1240px) {
  .app {
    .home-hero {
      padding: 0 30px;
      h1 {
        font-size: 48px;
      }
      p {
        font-size: 20px;
      }
    }
    .home-content {
      .home-card {
        width: 900px;
        p {
          font-size: 20px;
        }
        .home-card-header {
          h2 {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 945px) {
  .app {
    .home-hero {
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 18px;
      }
    }
    .home-content {
      .home-card {
        padding: 0 30px;
        width: 600px;
        p {
          font-size: 18px;
        }
        .home-card-header {
          margin-top: 30px;
          margin-bottom: 20px;
          h2 {
            font-size: 26px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .app {
    .home-btns {
      flex-direction: column;
      row-gap: 40px;
    }
    .home-join {
      h2 {
        font-size: 24px;
      }
      a {
        font-size: 18px;
      }
    }
    .home-hero {
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 18px;
      }
    }
    .home-content {
      .home-card {
        padding: 0 30px;
        width: 360px;
        height: 660px;
        p {
          font-size: 18px;
        }
        .home-card-header {
          margin-top: 30px;
          margin-bottom: 20px;
          h2 {
            font-size: 26px;
          }
        }
      }
    }
  }
}
